@model IEnumerable<ExpenseTracker.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrEdit">Create New</a>
</p>
<div class="row">
    <div class="col-md-7">
         <ejs-grid id="categories" dataSource="@Model" gridLines="None">
             <e-grid-columns>
                <e-grid-column field="TitleWithIcon" headerText="Category" width="120"></e-grid-column>
                @* <e-grid-column field="Icon" headerText="Icon" width="120"></e-grid-column> *@
                <e-grid-column field="TransactionType" headerText="Transaction Type" width="120"></e-grid-column>
                <e-grid-column headerText="Actions" width="120"></e-grid-column>
      @*                <e-template> *@
						@* <button class="btn btn-primary" onclick="">Edit</button> *@
             </e-grid-columns>
         </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
            <i class="fa-solid fa-icons fa-2xl"></i>
        </div>
    </div>
</div>