@{
	ViewData["isDashboard"] = true;
}

@* summary widget *@
<div class="row mb-4">
	@* total income *@
	<div class="col-md-4">
		<div class="d-flex flex-row widget summary income">
		<div class="d-flex flex-column justify-content-center">
			<i class="fa-solid fa-dollar-sign fa-2xl"></i>
		</div>
		<div class="d-flex flex-column m-auto py-3">
			<span class="lead">Total Income</span>
			<h1 class="fw-bold display-6">@ViewBag.TotalIncome</h1>
		</div>
	</div>
	</div>
	@* total expense *@
	<div class="col-md-4">
		<div class="d-flex flex-row widget summary expense">
		<div class="d-flex flex-column justify-content-center">
			<i class="fa-solid fa-dollar-sign fa-2xl"></i>
		</div>
		<div class="d-flex flex-column m-auto py-3">
			<span class="lead">Total Expense</span>
			<h1 class="fw-bold display-6">@ViewBag.TotalExpense</h1>
		</div>
	</div>
	</div>
	@* balance *@
	<div class="col-md-4">
		<div class="d-flex flex-row widget summary balance">
		<div class="d-flex flex-column justify-content-center">
			<i class="fa-solid fa-dollar-sign fa-2xl"></i>
		</div>
		<div class="d-flex flex-column m-auto py-3">
			<span class="lead">Balance</span>
			<h1 class="fw-bold display-6">@ViewBag.Balance</h1>
		</div>
	</div>
	</div>
</div>

@* Donat and spline chart *@
<div class="row mb-4">
	<div class="col-md-4">
		<div class="widget chart">
			<div class="title p-4">
				<h5 class="fw-bold">Expense by Category</h5>
			</div>
			<ejs-accumulationchart id="donatChart" background="#1a222b">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.DonatChartData" xName="categoryTitleWithIcon" yName="amount"innerRadius="60%" legendShape="Circle" enableSmartLabels>
                        <e-accumulationseries-datalabel visible="true" name="formattedAmount"></e-accumulationseries-datalabel>
                    </e-accumulation-series>
                </e-accumulation-series-collection>
				<e-accumulationchart-legendsettings visible="true" position="Top" toggleVisibility="true">
					<e-legendsettings-textstyle color="white" size="1rem"></e-legendsettings-textstyle>
				</e-accumulationchart-legendsettings>
				<e-accumulationchart-tooltipsettings enable="true" format="${point.x}: RM${point.y}"></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
		</div>
	</div>
</div>

@section Scripts {
	<script src="https://cdn.syncfusion.com/ej2/ej2-locale/ej2-locale.js"></script>
	<script>
		// Load the Malaysia locale data
		ej.base.L10n.load({
			'ms-MY': {
				'grid': {
					'EmptyRecord': 'Tiada rekod untuk dipaparkan',
					'True': 'Benar',
					'False': 'Salah',
					'InvalidFilterMessage': 'Data penapis tidak sah',
					// Add other translations as needed
				},
				// Add other components' translations as needed
			}
		});

		// Set the culture and currency code
		ej.base.setCulture('ms-MY');
		ej.base.setCurrencyCode('MYR');
	</script>
}
